body {
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.App {
  margin: 10px;
}

h1 {
  font-size: 80px;
  margin: 0%;
  font-family: 'Bebas Neue', sans-serif;
}
h6{
  font-family: 'Bebas Neue', sans-serif;
}

#color-selector {
  margin-bottom: 20px;
}

#color-palette {
  display: flex;
  justify-content: center;
}

.color-cell {
  width: 50px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}


.color-cell:hover{
  transition: all .05s ease-in-out;
  transform: scale(1.5); 
  border-radius: 20px;
}



#color-grid {
  margin: 0 auto;
  border-collapse: collapse;
}

.color-grid-cell {
  width: 60px;
  height: 30px;
  cursor: pointer;
  transition: all .1s ease-in-out;
  border-color: black;
  padding: 10px;
}

.color-grid-cell:hover {
   transform: scale(1.1); 
  }
